$globalHorizontalSpace: 100px;
$globalVerticalSpace: 25px;

@mixin globalDistanceStyle {
    padding: $globalVerticalSpace $globalHorizontalSpace;
}

@mixin navLinksCommonStyles($paddingLeft, $fontFamily, $fontSize) {
    text-decoration: none;
    text-transform: uppercase;
    margin-left: $paddingLeft;
    font-family: $fontFamily;
    font-size: $fontSize;
    // border: 1px solid red;
}

@media (min-width: 995px) {
    .singleLink {
        @include navLinksCommonStyles(10px, MontserratMedium, 3px);
    }
}

.navContainer {
    padding: 0;
    background-image: linear-gradient(rgba(0,0,0,.5), transparent);
}

.toggleBtn {
    position: absolute;
    left: 0;
    top: 8px;
    outline: none;
    border-width: 0;
}

.links {
    @include globalDistanceStyle();
    display: flex;
}

.singleLink {
    @include navLinksCommonStyles(50px, MontserratBold, 16px);
}