@import "_navlinksStyles.scss";
@import "detailsStyles.scss";
@import "_actionStyles.scss";

@mixin slideBackground($backgroundImage) {
    padding: 0;
    width: 100%;
    height: calc(100vh - 100px);
    background-image: url($backgroundImage);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}

.slick-dots
{
    position: absolute;
    bottom: -25px;
    // margin: 0;

    display: block;

    width: 100%;
    
    list-style: none;
    
    text-align: center;
    
    margin-bottom: 50px;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 10px;
    line-height: 20px;
    
    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .55;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: #663366;
}


.b1-image {
    @include slideBackground("https://beaveronline.co.uk/wp-content/uploads/2018/10/moonlight-film-movie-2016.11548.jpg")
}

.b2-image {
    @include slideBackground("https://i1.wp.com/www.thenerddaily.com/wp-content/uploads/2020/02/Joker-Oscars-Best-Picture-2020.jpeg?fit=1000%2C742&ssl=1")
}

.b3-image {
    @include slideBackground("https://patch.com/img/cdn20/users/2017057/20191213/023016/styles/patch_image/public/once-bluray___13022803666.png")
}

.containerLinearGradient {
    background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5));
    height: 100%;
}