$globalHorizontalSpace: 100px;
$globalVerticalSpace: 25px;
// $fontFamily: 

@mixin globalDistanceStyle {
    padding: $globalVerticalSpace $globalHorizontalSpace;
}

.rootNavContainer {
    padding: 0;    
    width: 100%;
    position: sticky;
    top: 0;
    // height: 100%;
    // overflow: hidden;
}
.nav-bar {
    padding: 0;
    // border: 1px solid orange;
}

.logoWrapper {
    @include globalDistanceStyle();
    background-color: black;
    width: 100%;
    height: 100px;
}

.logo {
    text-decoration: none;
    font-family: MontserratBold;
    color: white;
}
