@import "~bootstrap/scss/bootstrap";
@font-face {
    font-family: 'MontserratBold';
    src: url(./fonts/Montserrat-Bold.ttf);
}

@font-face {
    font-family: 'MontserratExtraBold';
    src: url(./fonts/Montserrat-ExtraBold.ttf);
}

@font-face {
    font-family: 'MontserratItalic';
    src: url(./fonts/Montserrat-Italic.ttf);
}

@font-face {
    font-family: 'MontserratLight';
    src: url(./fonts/Montserrat-Light.ttf);
}

@font-face {
    font-family: 'MontserratMedium';
    src: url(./fonts/Montserrat-Medium.ttf);
}

@font-face {
    font-family: 'MontserratRegular';
    src: url(./fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: 'MontserratSemiBold';
    src: url(./fonts/Montserrat-SemiBold.ttf);
}

@font-face {
    font-family: 'MontserratThin';
    src: url(./fonts/Montserrat-Thin.ttf);
}